<!DOCTYPE html>
<html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheep Poker - Login</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>


<body class="h-screen overflow-hidden text-white relative">

  <div class="absolute inset-0 z-0">
    <div class="absolute inset-0 bg-black/60 z-10"></div>
    <img src="../static/image/menu_bcg.jpg"  alt="City Background" class="w-full h-full object-cover">
  </div>


  <div class="relative z-20 h-full flex flex-col justify-center items-center px-4">

    <div class="bg-black backdrop-blur-xl border border-white/10 p-8 md:p-12 rounded-3xl shadow-2xl w-full max-w-md flex flex-col gap-6">

    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-wider">
        <span class="text-green-400">USER </span><span class="text-red-400">LOGIN</span>
      </h1>
        <p class="text-blue-200/60 mt-2 text-xs uppercase tracking-widest">Into an existing account</p>
    </div>

    <form action="{{ url_for('login') }}" method="POST" class="flex flex-col gap-5">
      <div class="flex flex-col gap-1">
        <label class="text-xs text-green-300 uppercase ml-1 required">Username</label>
        <input type="text"
          name="username"
          placeholder="Enter Username..."
          class="search-input w-full text-black p-3 rounded-xl"
          required>
      </div>
    </div>

      <div class="flex flex-col gap-1">
        <label class="text-xs text-green-300 uppercase ml-1 required">Password</label>
        <input type="password"
          name="password"
          placeholder="Enter Password..."
          class="search-input w-full text-black p-3 rounded-xl"
          required>
      </div>

        <button type="submit" class="mt-2 w-full btn-primary py-3 rounded-xl text-lg tracking-widest text-blue-300">
          Login
        </button>
    </form>

    <div class="text-center text-sm pt-4 border-t border-white/10 text-gray-400">
      <p class="mb-4">
        New User?
        <a href="{{ url_for('register') }}" class="text-blue-400 font-bold hover:text-white transition-colors">
          Register Here!
        </a>
      </p>
      <a href="{{ url_for('homepage') }}" class="hover:text-white flex items-center justify-center gap-2 opacity-70 hover:opacity-100">
        <i class="fa-solid fa-arrow-left text-xs"></i>
        Homepage
      </a>
    </div>

  </div>
  </div>

</body>
</html>